*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

    background-color: rgb(236, 236, 236);
  }

.tableProducts{
    margin-left: auto;
    margin-right: auto;

    width: 80%;
    
}

.imgProducts{
    height: 15vh;
}
td{
    vertical-align: middle;
    text-align: center;
}
.btnIncrementar{
    display: flex;
    justify-content: center;
}
#cantidad{
    width: 30px;
    height: 20px;
    text-align: center;
}
#btn-menos,#btn-mas{
    width: 30px;
    height: 20px;
   
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
}
.carrito{
    display: flex;
    flex-direction: column;
}


footer {
    color: white;
    background-color: #4f0450;
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
   
}